/*--------------------------------------------------*/
/*Index*/

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Adicione esta linha para evitar a barra de rolagem horizontal */
}

.navbar {
    width: 100%;
    /* Certifique-se de que a barra de navegação ocupa toda a largura */
    padding: 0;
}

.container-fluid {
    max-width: 100%;
    /* Certifique-se de que o contêiner ocupa toda a largura */
}

.navbar-collapse {
    justify-content: space-between;
    /* Adiciona espaço igual entre os itens do menu */
}

#body-index {
    background: rgba(221, 214, 155, 0.767);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    /* Cor de fundo com transparência */
    color: #fff;
    /* Cor do texto */
    padding: 20px;
    /* Espaçamento interno */
    border-radius: 10px;
    /* Borda arredondada */
    text-align: center;
    /* Alinhamento centralizado */
}

.carousel-caption h5 {
    font-size: 24px;
    /* Tamanho da fonte do título */
    margin-bottom: 10px;
    /* Espaçamento inferior */
    font-weight: bold;
    /* Negrito */
}

.carousel-caption p {
    font-size: 18px;
    /* Tamanho da fonte do texto */
    line-height: 1.5;
    /* Altura da linha para melhor legibilidade */
}



/*--------------------------------------------------*/

/*Página do tutorial*/

.body-tutorial {
    background: rgba(221, 214, 155, 0.767);
}

.card-title {
    text-align: center;
}

.card-body {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.329);
}

.caixa-texto1 {
    max-width: 800px;
    /* Define a largura máxima do contêiner */
    text-align: center;
    /* Centraliza o conteúdo dentro do contêiner */
    margin: 0 auto;
    /* Centraliza horizontalmente */
}

.videotutorial {
    width: 960px;
    height: 580px;
}

.link-dark {
    text-decoration: none;
    font-size: small;
}

.videotutorial-container {
    position: relative;
    padding-bottom: 58.25%;
    /* Proporção 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.329);
}

.videotutorial-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*--------------------------------------------------*/
/*carroseul*/

#carouselExampleIndicators {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.521);
}

.carousel-item {
    transition: transform 0.5s ease;
    /* Transição suave */
}

.carousel-inner {
    display: flex;
    /* Use flexbox para alinhar os slides horizontalmente */
    transition: transform 0.5s ease;
    /* Transição suave */
}

.carousel-control-prev,
.carousel-control-next {
    transition: opacity 0.3s ease;
    /* Transição suave para os botões de controle */
}



/*--------------------------------------------------*/
/*Footer*/
#copy {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 10px;
    color: white;
    font-style: italic;
}

.contato-footer {
    color: white;
}






/*-------------------------------------------------*/
/*Faça parte da Equipe*/

#body-form {
    background: rgba(221, 214, 155, 0.767);
    background-image: url('imagens/bola-de-volei.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* Mantém a imagem fixa ao rolar a página */
}

#section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#header-form {
    text-align: center;

}

#header-form h1 {
    font-weight: bold;
    color: white;
}

.div-form {
    background-color: #0000006c;
    border-radius: 20px;
    box-shadow: 0 7px 7px 7px rgba(0, 0, 0, 0.603);
    padding: 20px;
    width: 800px;
    color: white;
}

.div-form p {
    margin-bottom: 10px;
}

.div-form hr {
    margin: 15px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.div-form input[type="text"],
.div-form input[type="email"],
.div-form input[type="date"],
.div-form input[type="number"],
.div-form select,
.div-form input[type="radio"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 20px;
}

.div-form input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.div-form input[type="button"]:hover {
    background-color: #212529;
}


/*-------------------------------------------------*/
/*Exercícios*/

#body-exerc {
    background: rgba(221, 214, 155, 0.767);

}

#header-exerc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#carouselExercicio {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.521);
}

.card-img-top {
    width: 580px;
    height: 300px;
    max-width: 100%;
    /* Define a largura máxima da imagem para evitar que ela ultrapasse os limites do card */
    height: auto;
    /* Permite que a altura da imagem seja ajustada automaticamente para manter a proporção */
}

.card-group {
    margin-bottom: 60px;
    /* Adiciona uma margem inferior de 20px entre os grupos de cards */
}

.card {
    margin-right: 40px;
    /* Adiciona uma margem direita de 20px entre os cards */
    display: flex;
    /* Ativa o modelo de layout flexível */
    align-items: center;
    /* Alinha os itens verticalmente no centro */
    justify-content: center;
    /* Alinha os itens horizontalmente no centro */

}

.card-body {
    font-size: 16px;
    /* Tamanho de fonte base */
}

.card-title {
    font-size: 1.5em;
    /* Tamanho de fonte para o título */
    margin-bottom: 10px;
    /* Espaçamento entre o título e o texto */
}

.card-text {
    font-size: 1em;
    /* Tamanho de fonte para o texto */
}

/* Estilo para garantir que o vídeo não ultrapasse os limites do card */
.video-exerc {
    max-width: 100%;
    /* Largura máxima igual à largura do card */
    margin-top: 20px;
    /* Espaçamento entre o texto e o vídeo */
}

/* Estilo para garantir que os créditos não ultrapassem os limites do card */
.creditos {
    font-size: 0.8em;
    /* Tamanho de fonte para os créditos */
    margin-top: 20px;
    /* Espaçamento entre o vídeo e os créditos */
}

.video-exerc {
    position: relative;
    /* Define a posição relativa do vídeo */
    padding-bottom: 56.25%;
    /* Define a proporção do vídeo (16:9) */
    overflow: hidden;
    /* Oculta o conteúdo que ultrapassa o contêiner */
    margin-top: 20px;
    /* Adiciona uma margem superior ao vídeo */
}

.video-exerc iframe {
    position: absolute;
    /* Define a posição absoluta do iframe */
    width: 100%;
    /* Define a largura do iframe para ocupar todo o espaço disponível */
    height: 100%;
    /* Define a altura do iframe para ocupar todo o espaço disponível */
    top: 0;
    /* Alinha o iframe ao topo do contêiner */
    left: 0;
    /* Alinha o iframe à esquerda do contêiner */
}
.card-body {
    font-size: 16px; /* Tamanho da fonte padrão */
    line-height: 1.6; /* Espaçamento entre linhas padrão */
}

@media (max-width: 768px) {
    .card-body {
        font-size: 14px; /* Reduz o tamanho da fonte em telas menores */
        line-height: 1.5; /* Reduz o espaçamento entre linhas em telas menores */
    }
}


/*-------------------------------------------*/
/*FeedBack*/

#body-feedback {
    background-image: url(imagens/saqueflut.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* Mantém a imagem fixa ao rolar a página */
}

/*-------------------------------------------*/
/*Volei de Areia*/

#volei-areia {
    background: rgba(221, 214, 155, 0.767);
}

.card-img-left {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body-volei {
    padding: 20px;
}

.container-volei-areia {
    display: flex;
    justify-content: center;
    align-items: center;
}



/*--------------------------*/
/*Inscrição*/
#body-form-inscricao {
    background: rgba(221, 214, 155, 0.767);
    background-image: url('imagens/defendendo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* Mantém a imagem fixa ao rolar a página */
}

/*------------------------------*/
/*Sobre*/

#body-sobre {
    background-image: url('imagens/sobre-fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* Mantém a imagem fixa ao rolar a página */
}

/*------------------------------------*/
/*Serviços*/

#body-serv {
    background-image: url('imagens/trofeu-fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
}

.card-serv {
    /* Define o fundo do card como branco */
    padding: 20px;
    /* Adicione padding conforme necessário */
    border-radius: 20px;
    /* Adicione borda arredondada conforme necessário */
}

.card-title-serv {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.card-text-serv {
    font-size: 20px;
    text-align: justify;
}
